.caracteristicas {
    padding: 2rem;
    display: flex;
    justify-content: center;
    color: white;
}

.wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_side {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: flex-end;
}

.slide_show {
    position: relative;
    width: 90%;
    border: 1px var(--gold) solid;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark);
    align-self: center;
}

.slide_show>.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide_show>.left {
    left: 16px;
}

.slide_show>.right {
    right: 16px;
}

.slide_show>img {
    object-fit: fill;
    object-position: center;
    width: 90%;
    border-radius: 2rem;
}

.right_side {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    text-transform: uppercase;
}

.right_side>p{
    font-weight: bold;
    color: var(--gold);
}

.right_side>div{
    font-size: 2.5rem;
    font-weight: bold;
}
.right_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right_list>li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.right_list>li>img{
    width: 2.5rem;
}
