.footer {
    border-top: 1px solid #fff;
    position: relative;
    background-color: var(--bg-dark);
    bottom: 0;
}

.logos_container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.logo_footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}


.contact_logos {
    display: flex;
    gap: 4rem;
    z-index: 2;
}

.contact_logos>a>img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.blur {
    position: absolute;
    border-radius: 50%;
    filter: blur(212px);
    width:15rem;
    height:10rem;
    z-index: 1;
}

.footer_blur_red {
    background: rgba(227, 6, 6, 0.6);
    left: 76rem;
}

.footer_blur_green {
    background: rgba(200, 239, 66, .5) !important;
    height: 10rem;
    left: 40rem;
}