button>a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.hero_left {
    padding: 1.5rem 2rem 2rem 2rem;
    flex: 3;
    flex-direction: column;
    gap: 2rem;
}

.hero_right {
    flex: 1;
    position: relative;
    /* background-color: #1c0303; */
    background-image: url('../assets/realms/asphodel/img-1.png');
}

.boons_container {
    display: flex;
    flex-direction: row;
    width: 55%;
    margin-bottom: 1.2rem;
    margin-top: 4rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    background: #000200;
    /* background: linear-gradient(180deg, rgba(10, 11, 13, 1) 51%, rgba(104, 122, 136, 1) 54%, rgba(66, 82, 107, 1) 79%); */
}

.boons_container>img {
    width: 3.5rem;
    height: 80%;
}


.hero_text {
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    font-style: italic;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-overflow: inherit;
}

.hero_text>div:nth-of-type(3) {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.metrics {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.metrics>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metrics>div>span:nth-of-type(1) {
    color: var(--gold);
    text-shadow: 2px 2px 2px #692D1C;
    font-size: 2rem;
}

.metrics>div>span:nth-of-type(2) {
    color: var(--gray);
    text-transform: uppercase;
}

.hero_right>.btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.goty{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .8;
    /* margin-top: 2.5rem; */
    position: absolute;
    right: -2.5rem;
    top: 1rem;
    z-index: 1;
}

.hero_img{
    position: absolute;
    top: 4.56rem;
    right: 3rem;
    width: 48rem;
}

.back_img{
    position: absolute;
    top: 6rem;
    right: 24rem;
    z-index: -1;
}
