.hero {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}


.hero_left {
    padding: 1.5rem 2rem 2rem 2rem;
    flex: 3;
}

.support {
    height: 3rem;
}

.hero_right {
    flex: 1;
    position: relative;
    background-image: url('../assets/realms/asphodel/img-1.png');
}

.hero_right>button>a {
    text-decoration: none;
}

.boons_container {
    display: flex;
    flex-direction: row;
    width: 55%;
    position: relative;
    margin-bottom: 1.2rem;
    margin-top: 4rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    background: var(--bg-dark);

}

.boons_container>img {
    width: 3.5rem;
}


.hero_text {
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    font-style: italic;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.hero_text>div:nth-of-type(3) {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.metrics {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.metrics>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metrics>div>span:nth-of-type(1) {
    color: var(--bright-gold);
    text-shadow: 2px 2px 2px #692D1C;
    font-size: 2rem;
}

.metrics>div>span:nth-of-type(2) {
    color: var(--gray);
    text-transform: uppercase;
}

.hero_right>.btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.goty {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .9;
    position: absolute;
    right: -2.5rem;
    top: 1rem;
    z-index: 1;
}

.hero_img {
    position: absolute;
    top: 10rem;
    right: 3rem;
    width: 40rem;
}

.back_img {
    position: absolute;
    top: 5rem;
    right: 17rem;
    z-index: 1;
}

@media screen and (max-width:768px) {

    .hero {
        flex-direction: column;
    }

    .boons_container {
        width: 100%;
        gap: 1px;
    }

    .boons_container>img {
        width: 1.3rem;
    }

    .hero_text {
        font-size: xx-large;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .hero_text>div>span {
        display: flex;
        justify-content: center;
    }

    .hero_text>div:nth-of-type(3) {
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }

    .metrics>div>span:nth-of-type(1) {
        font-size: large;
    }

    .metrics>div>span:nth-of-type(2) {
        font-size: xx-small;
        text-align: center;
    }

    .hero_right {
        background: none;
        position: relative;
    }

    .hero_right>.btn {
        top: -30.6rem;
        right: 2rem;
    }

    .goty {
        position: relative;
        display: none;
    }

    .hero_img,
    .back_img {
        position: relative;
        display: none;
    }
}