.hero {
    display: flex;
    justify-content: space-between;
}

.hero_left {
    padding: 1.5rem 2rem 2rem 2rem;
    flex: 3;
    flex-direction: column;
    gap: 2rem;
}

.hero_right {
    flex: 1;
}

.hero_text {
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
    font-style: italic;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-overflow: inherit;
}